html {
    background:  top left no-repeat }
body {
    font-size: 16px;
    color: #663333;
    font-family: 'Palatino', sans-serif;
    background: url(../img/bg_body.jpg)}

#wraph {position: relative}

#header_container {position: absolute; top: 0; left: 0; width: 100%; min-width: 1000px; text-align: center; background: url(../img/logo.png) center top no-repeat;}
#logo {position: relative; width: 100%; max-width: 1000px; height: 285px; margin: 0 auto;}
#logo a {position: absolute; top: 73px; left: 0; display: block; width: 100%; height: 165px;}

#main_content {
    background: #fff9d5;
    border-left: 2px solid #471d17;
    border-right: 2px solid #471d17;
    padding-top: 300px;}
#main_content .content {
    padding: 35px;}
#main_content .content .slogan {
    font-weight: bold}

#homepage_slider {
    position: relative;
    border-top: 5px solid #f2e092;}
#homepage_slider .nivo-imageLink {
    border: 1px solid #333;}
.nivo-caption {
    min-height: 60px;
    text-align: right;
    color: #fff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;}
.nivo-caption .slider_big {
    font-size: 22px;}

.nivo-controlNav {
    position:absolute; 
    bottom: 55px; 
    right: 5px;
    z-index: 1000;
}
.nivo-controlNav a {
    display:block; 
    width:22px; 
    height:22px; 
    background: url(../img/bullets.png) no-repeat; 
    text-indent:-9999px; 
    border:0; 
    margin-right:3px; 
    float:left;}
.nivo-controlNav a.active {
    background-position:0 -22px;}

.nivo-directionNav a {
    position:absolute; 
    top:45%; 
    z-index:99; 
    cursor:pointer; 
    display:block; 
    width:30px; 
    height:30px; 
    background: url(../img/arrows.png) no-repeat; 
    text-indent:-9999px; 
    border:0;}
a.nivo-nextNav {
    background-position:-30px 0; 
    right:15px;}
a.nivo-prevNav {
    left:15px;}

h1 {
    font-size: 26px;
    padding-bottom: 0px;
    margin-bottom: 0px;}

#footer {
    margin: 0px auto;
    background: #763126;
    color: #d2c074;
    padding: 18px 30px;
    font-family: 'Raleway', sans-serif;
    width: 944px}
#footer .container {width: 100%; padding: 0; margin: 0;}
#footer .page_name {
    font-size: 26px;
    padding-bottom: 10px}
#footer a {
    font-weight: bold;
    color: #be7305;}
#footer_address {max-width: 630px;}

.box {padding: 0px 10px;}
.well_container {border-top: 5px solid #f2e092; padding: 0; margin-top: -35px; margin-right: 10px;}
.well {height: 839px; overflow: auto; border-radius: 0;}
.well h2 {font: bold 1.5em/2em 'Palatino', sans-serif; color: #d12c2c; background: url(../img/line-shadow.png) 0 bottom no-repeat; padding: 0 0 24px 0;}
.well h2 a {display: block; color: #d12c2c; text-decoration: none; background: url(../img/icon-facebook-51x51.png) left top no-repeat; padding: 4px 0 0 59px;}

.cleaner {
    clear: both; 
    line-height: 0px; 
    font-size: 0px;}
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;}
.clearfix:after {
    clear: both;}
.clearfix {
    *zoom: 1;}