<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Caliente Creek Ranch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./js/nivoslider/nivo-slider.css" rel="stylesheet">
    <link href="./css/custom.css" rel="stylesheet">
    <link href="./css/social.css" rel="stylesheet">
</head>

<body>
    <div id="wraph">
        <div id="logo">
            <a href="/" title="Home"></a>
        </div>

        <div class="container" id="main_content">
            <div class="row-fluid">
                <div class="span7">
                    <div class="box">
                        <div id="homepage_slider">
                            <div id="slider" class="nivo_slider">
                                <a href="#" title="Truckin’ Along CB (Psytation EA x Shania Twain)">
                                    <img src="./img/horse_1.jpg" alt="Truckin’ Along CB (Psytation EA x Shania Twain)" title="#htmlcaption_0" width="470" height="306" />
                                </a>
                                <a href="#" title="Truckin’ Along CB (Psytation EA x Shania Twain)">
                                    <img src="./img/horse_2.jpg" alt="Truckin’ Along CB (Psytation EA x Shania Twain)" title="#htmlcaption_1" width="470" height="306" />
                                </a>
                                <a href="#" title="Truckin’ Along CB (Psytation EA x Shania Twain)">
                                    <img src="./img/horse_3.jpg" alt="Truckin’ Along CB (Psytation EA x Shania Twain)" title="#htmlcaption_2" width="470" height="306" />
                                </a>
                            </div>

                            <div id="htmlcaption_0" class="nivo-html-caption">
                                <div class="slider_big">Truckin’ Along CB</div>
                                <p>(Psytation EA x Shania Twain)</p>
                            </div>
                            <div id="htmlcaption_1" class="nivo-html-caption">
                                <div class="slider_big">Truckin’ Along CB</div>
                                <p>(Psytation EA x Shania Twain)</p>
                            </div>
                            <div id="htmlcaption_2" class="nivo-html-caption">
                                <div class="slider_big">Truckin’ Along CB</div>
                                <p>(Psytation EA x Shania Twain)</p>
                            </div>
                        </div>   

                        <div class="content">
                            <h1>About CCR</h1>
                            <p class="slogan">Am quiscidi rerferum vende volores era di denimaio eume parumquam eatquas earibus apelenem faccus mi, sentia quati dis reped utest officip saepudi tatibus alicim et accus velestibus dollore, nime volut aliqui nem adit eatur magnam nihit, aut aut alic tenectur sam ut quiassit, omnimusciis aut et dolori ut laut quis et verit imagnih icilliquam, volorendis atem et alis voluptae velit, uta volo bea autam facea pro dolesto tatur? Qui sandiam nitatur autet quist, quatecus est vitam sim alibus, sum volores nobit ad maio temo consequia quatust, omnimagnatem exernatecta quam quo eossusam, comnim quo berspeles eos dit, sit eum et ea quiant ratur simus si vellicaboria dolo to volorruntia volorem poreper iberum qui tem escimus estrumq uaspic tem doluptaspe sint.</p>  
                        </div> 
                    </div>
                </div>
                <div class="span5">
                    <div class="box well_container">
                        <div class="well">
                            <h2><a href="" title="Visit us on Facebook">FACEBOOK FEED</a></h2>
                            <!-- Facebook BEGIN -->
                            <ul id="facebook">
                                <li class="loading"><img src="img/ajax-loader.gif" alt="Loading ..." width="24" height="24"><br>Loading…</li>
                            </ul>
                            <!-- Facebook END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="page_name">Candace and Dave Berry</div>
                        <div>E-mail: <a href="">calientecreekranch@gmail.com</a></div>
                    </div>
                    <div class="span8" id="footer_address">
                        <div class="row-fluid">
                            <div class="span1"></div>
                            <div class="span2">
                                <div class="text-center">PO Box 2281</div>
                            </div>
                            <div class="span4">
                                <div class="text-center">Avila Beach, CA 93424</div>
                            </div>
                            <div class="span4">
                                <div class="text-center">Telephone: 805.439.0187</div>
                            </div>
                            <div class="span1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/nivoslider/jquery.nivo.slider.js"></script>
    <script src="./js/custom.js"></script>

    <script src="./js/jquery.autolink.js"></script>
    <script src="./js/jquery.prettydate.js"></script>
    <script src="./js/jquery.timeago.js"></script>
    <script src="./js/jquery.tmpl.js"></script>
    <script src="./js/twitter-text.js"></script>
    <script src="./js/social.js"></script>
    <script src="./js/masonry.pkgd.min.js"></script>
    <script src="./js/jquery.imagesloaded.min.js"></script>

    <script id="facebook_template" type="text/x-jquery-tmpl">
        {{if type != "status" || typeof message != "undefined" || typeof caption != "undefined" }}
        <li>
            <div class="header clearfix">
                <a class="user_image" href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank"><img alt="picture" src="https://graph.facebook.com/${from.id}/picture"></a>
                <a class="user_name" href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank">${from.name}</a>
                <span class="fb_date" title="${created_time}">${created_time}</span>
            </div>
            <div class="content clearfix">
                {{if picture}}
                    <a class="image" href="${link}" target="_blank"><img alt="picture" src="${Social.facebookPictureURL(picture)}"></a>
                {{/if}}
                {{if description}}
                    <p>${description}</p>
                {{/if}}
                {{if caption}}
                    <p>{{html caption}}</p>
                {{/if}}
                {{if message}}
                    <p class="html_message">{{html message}}</p>
                {{/if}}
            </div> <!--// .content -->
        </li>
        {{/if}}
    </script>
    <script>
        // "103882419703669" is Facebook page ID
        // "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck" is Facebook authentication token
        Social.facebook("405209389537340", "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck");
    </script>
</body>
</html>
