<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Caliente Creek Ranch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./js/nivoslider/nivo-slider.css" rel="stylesheet">
    <link href="./css/custom.css" rel="stylesheet">
    <link href="./css/social.css" rel="stylesheet">
</head>

<body>
    <div id="wraph">
        <div id="header_container"><div id="logo"><a href="/" title="Home"></a></div></div>

        <div class="container" id="main_content">
            <div class="row-fluid">
                <div class="span7">
                    <div class="box">
                        <div id="homepage_slider">
                            <div id="slider" class="nivo_slider">
<a href="#" title="Manhattan">
                                    <img src="./img/slideshow/rolmanhattan1.jpg" alt="Manhattan 1" title="#htmlcaption_0" width="555" height="360" />
                                </a>
                                <a href="#" title="Manhattan">
                                    <img src="./img/slideshow/rolmanhattan2.jpg" alt="Manhattan 2" title="#htmlcaption_1" width="555" height="360" />
                                </a>
                                <a href="#" title="Manhattan">
                                    <img src="./img/slideshow/rolmanhattan3.jpg" alt="Manhattan 3" title="#htmlcaption_2" width="555" height="360" />
                                </a>
                                <a href="#" title="Affair">
                                    <img src="./img/slideshow/ROLAffair1.jpg" alt="Affair 1" title="#htmlcaption_3" width="555" height="360" />
                                </a>
                                <a href="#" title="Affair">
                                    <img src="./img/slideshow/ROLAffair2.jpg" alt="Affair 2" title="#htmlcaption_4" width="555" height="360" />
                                </a>
                                <a href="#" title="Cylent">
                                    <img src="./img/slideshow/2013-Cylent-Lights-CCA-Cari-Thompson.jpg" alt="Cylent Lights CCA Cari Thompson" title="#htmlcaption_5" width="555" height="360" />
                                </a>
                                <a href="#" title="Scottsdale Cylent Lightning CCA">
                                    <img src="./img/slideshow/2013-Scottsdale-Cylent-Lightning-CCA-1.jpg" alt="Scottsdale Cylent Lightning CCA" title="#htmlcaption_6" width="555" height="360" />
                                </a>
                                <a href="#" title="Scottsdale Cylent Lightning CCA">
                                    <img src="./img/slideshow/2013-Scottsdale-Cylent-Lightning-CCA-2.jpg" alt="Scottsdale Cylent Lightning CCA" title="#htmlcaption_7" width="555" height="360" />
                                </a>
                                <a href="#" title="Scottsdale Cylent Lightning CCA">
                                    <img src="./img/slideshow/2013-Scottsdale-Cylent-Lightning-CCA-3.jpg" alt="Scottsdale Cylent Lightning CCA" title="#htmlcaption_8" width="555" height="360" />
                                </a>
                                <a href="#" title="Leviticus BPA">
                                    <img src="./img/slideshow/trucking-at-delmar.jpg" alt="Trucking at Delmar" title="#htmlcaption_9" width="555" height="360" />
                                </a>
                                <a href="#" title="Trucking Along">
                                    <img src="./img/slideshow/leviticusbpa.jpg" alt="Leviticus" title="#htmlcaption_10" width="555" height="360" />
                                </a>
                                <a href="#" title="Trucking Along">
                                    <img src="./img/slideshow/truckingalong1.jpg" alt="Trucking Along" title="#htmlcaption_11" width="555" height="360" />
                                </a>
                                <a href="#" title="Trucking Along">
                                    <img src="./img/slideshow/truckingalong2.jpg" alt="Trucking Along" title="#htmlcaption_12" width="555" height="360" />
                                </a>
                                <a href="#" title="Trucking Along">
                                    <img src="./img/slideshow/truckingalong3.jpg" alt="Trucking Along" title="#htmlcaption_13" width="555" height="360" />
                                </a>                                
                            </div>

                            <div id="htmlcaption_0" class="nivo-html-caption">
                                <div class="slider_big">ROL Manhattan</div>
                                <p>(Baske Afire x Matoska by Zodiac Matador)</p>
                            </div>
                            <div id="htmlcaption_1" class="nivo-html-caption">
                                <div class="slider_big">ROL Manhattan</div>
                                <p>(Baske Afire x Matoska by Zodiac Matador)</p>
                            </div>
                            <div id="htmlcaption_2" class="nivo-html-caption">
                                <div class="slider_big">ROL Manhattan</div>
                                <p>(Baske Afire x Matoska by Zodiac Matador)</p>
                            </div>
                            <div id="htmlcaption_3" class="nivo-html-caption">
                                <div class="slider_big">ROL Affair</div>
                                <p>(Baske Afire x IXL Miss Firefly by MHR Nobility)</p>
                            </div>
                            <div id="htmlcaption_4" class="nivo-html-caption">
                                <div class="slider_big">ROL Affair</div>
                                <p>(Baske Afire x IXL Miss Firefly by MHR Nobility)</p>
                            </div>
                            <div id="htmlcaption_5" class="nivo-html-caption">
                                <div class="slider_big">Cylent Lightning CCA</div>
                                <p>(Cytosk x Bakkaratta)</p>
                            </div>
                            <div id="htmlcaption_6" class="nivo-html-caption">
                                <div class="slider_big">Cylent Lightning CCA</div>
                                <p>(Cytosk x Bakkaratta)</p>
                            </div>
                            <div id="htmlcaption_7" class="nivo-html-caption">
                                <div class="slider_big">Cylent Lightning CCA</div>
                                <p>(Cytosk x Bakkaratta)</p>
                            </div>
                            <div id="htmlcaption_8" class="nivo-html-caption">
                                <div class="slider_big">Cylent Lightning CCA</div>
                                <p>(Cytosk x Bakkaratta)</p>
                            </div>
                            <div id="htmlcaption_9" class="nivo-html-caption">
                                <div class="slider_big">Leviticus BPA</div>
                                <p>(Star Ghazal x Bremervale My Girl by Rave)</p>
                            </div>
                            <div id="htmlcaption_10" class="nivo-html-caption">
                                <div class="slider_big">Truckin' Along CB</div>
                                <p>(Psytation EA x Shania Twain)</p>
                            </div>
                            <div id="htmlcaption_11" class="nivo-html-caption">
                                <div class="slider_big">Truckin' Along CB</div>
                                <p>(Psytation EA x Shania Twain)</p>
                            </div>
                            <div id="htmlcaption_12" class="nivo-html-caption">
                                <div class="slider_big">Truckin' Along CB</div>
                                <p>(Psytation EA x Shania Twain)</p>
                            </div>
                            <div id="htmlcaption_13" class="nivo-html-caption">
                                <div class="slider_big">Truckin' Along CB</div>
                                <p>(Psytation EA x Shania Twain)</p>
                            </div>
                        </div>      

                         <div class="content">
                            <h1>About CCR</h1>
                            <p>Candace and Dave Berry of Caliente Creek Ranch began breeding Arabians almost two decades ago, but noticed in the latter part of 2011 that Hunter Pleasure and English pleasure horses bred for Amateurs were in short supply and large demand.</p>
                            <p>Our herd is now made of primarily Arabian Hunter Pleasure and English Pleasure horses with the following qualifications.
                                <ul>
                                    <li>extremely well bred</li>
                                    <li>of excellent conformation</li>
                                    <li>have well balanced motion, front and rear</li>
                                </ul>
                                </p>
                            <p>We are very proud of our history of breeding National Champions and are excited to show you our special Hunter and English horses. Keep up with us on Facebook, we would like to be your friend!</p>
                        </div> 
                    </div>
                </div>
                <div class="span5">
                    <div class="box well_container">
                        <div class="well">
                            <h2><a href="https://www.facebook.com/pages/Caliente-Creek-Ranch/126049707451145" title="Visit us on Facebook" target="_blank">FACEBOOK FEED</a></h2>
                            <!-- Facebook BEGIN -->
                            <ul id="facebook">
                                <li class="loading"><img src="img/ajax-loader.gif" alt="Loading ..." width="24" height="24"><br>Loading…</li>
                            </ul>
                            <!-- Facebook END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="page_name">Candace and Dave Berry</div>
                        <div>E-mail: <a href="mailto:calientecreekranch@gmail.com">calientecreekranch@gmail.com</a></div>
                    </div>
                    <div class="span8" id="footer_address">
                        <div class="row-fluid">
                            <div class="span1"></div>
                            <div class="span2">
                                <div class="text-center font15">PO Box 2281</div>
                            </div>
                            <div class="span4">
                                <div class="text-center font15">Avila Beach, CA 93424</div>
                            </div>
                            <div class="span4">
                                <div class="text-center font15">Telephone: 805.439.0187</div>
                            </div>
                            <div class="text-center font12"><p style="clear:both;">© Copyright 2013 Caliente Creek Ranch. All Rights Reserved | Designed by: <a href="http://www.arabhorse.com" target="_blank">ArabHorse.com</a></p></div>
                            <!--div class="span1"></div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/nivoslider/jquery.nivo.slider.js"></script>
    <script src="./js/custom.js"></script>

    <script src="./js/jquery.autolink.js"></script>
    <script src="./js/jquery.prettydate.js"></script>
    <script src="./js/jquery.timeago.js"></script>
    <script src="./js/jquery.tmpl.js"></script>
    <script src="./js/twitter-text.js"></script>
    <script src="./js/social.js"></script>
    <script src="./js/jquery.imagesloaded.min.js"></script>

    <script id="facebook_template" type="text/x-jquery-tmpl">
        {{if type != "status" || typeof message != "undefined" || typeof caption != "undefined" }}
        <li>
            <div class="header clearfix">
                <a class="user_image" href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank"><img alt="picture" src="https://graph.facebook.com/${from.id}/picture"></a>
                <a class="user_name" href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank">${from.name}</a>
                <span class="fb_date" title="${created_time}">${created_time}</span>
            </div>
            <div class="content clearfix">
                {{if picture}}
                    <a class="image" href="${link}" target="_blank"><img alt="picture" src="${Social.facebookPictureURL(picture)}"></a>
                {{/if}}
                {{if caption}}
                    <p>{{html caption}}</p>
                {{/if}}
                {{if message}}
                    <p class="html_message">{{html message}}</p>
                {{/if}}
            </div> <!--// .content -->
        </li>
        {{/if}}
    </script>
    <script>
        // "103882419703669" is Facebook page ID
        // "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck" is Facebook authentication token
        Social.facebook("126049707451145", "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck");
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-600888-37']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
